<div class="admin-menu">
    <ul>
        <li><%= link_to '文章管理', '/admin/manage_gates' %></li>
        <li><%= link_to '帳號管理', '/admin/manage_users' %></li>
        <li><%= link_to '網站數據', '/admin' %></li>
    </ul>
</div>