<table class="table">
    <thead>
        <tr>
            <th>管理工具</th>
            <th>ID</th>
            <th>名稱</th>
            <th>擁有者帳號</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <% @gates.each do |gate|%>
        <tr>
            <td><%= link_to "刪除", admin_gate_path(gate) , method:"delete"  %></td>
            <td><%= gate.id %></td>
            <td><%= gate.name %></td>
            <td><%= gate.user.email%></td>
            <td></td>
            <td></td>
        </tr>
        <% end %>
    </tbody>
</table>