<h1>編輯月門</h1>
<div class="container-fluid col-lg-8 ">
  <%= render 'form', gate: @gate %>
<span><%= link_to '刪除月門', gate_path(@gate), method: "delete", class:"btn btn-danger",style:"float:right;" %></span>
</div>
