<div class="hot-tags col-lg-8 container-fluid">
    <ul>熱門標籤：
    <% @tags.each do |tag|%>
        <li style= "display:inline; ">
            <%= link_to tag, search_tag_gates_path(search_word: tag.to_s), class:"btn-tag" %>
        </li>
    <% end %>
    </ul>
</div>

<div class="col-lg-12"><h4><%= flash[:notice]%></h4></div>

<div class="container-fluid col-lg-12 col-xs-12" id="gates-list">
    <%= render 'gates', gates: @gates %>
</div>

<div class="col-lg-12"><%= paginate @gates %></div>