<div class="hot-tags col-lg-8 container-fluid">
    <ul>熱門標籤：
    <% @tags.each do |tag|%>
        <li style= "display:inline; ">
            <%= link_to tag, search_tag_gates_path(search_word: tag.to_s), class:"btn-tag" %>
        </li>
    <% end %>
    </ul>
</div>

<div class="col-lg-12"><h4><%= flash[:notice]%></h4></div>

<div class="container-fluid col-lg-12 col-xs-12" id="gates-list">
    <%= render 'gates', gates: @gates %>
</div>

<div class="col-lg-12 center"><%= paginate @gates %></div>

<%- content_for :javascript do %>
    <script type="application/javascript">
      $(document).ready(function() {
        $('.join-link').each(function() {
          var self = $(this);
          fetch('https://discordapp.com/api/guilds/' + self.data('server') + '/widget.json')
            .then(res => res.json())
            .then(function(json) {
              if(json.instant_invite) {
                var link = $('<a href="' + json.instant_invite + '" class="btn-tag" target="_blank"><i class="fa fa-moon-o"></i>加入伺服器</a>');
                self.append(link);
              }
            });
        });
      });
    </script>
<%- end %>
