// Place all the styles related to the Gates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #2ecc71;
$primary-color-dark: #16a085;
$secondary-color: #4CBBE8;
$secondary-color-light: rgb(139, 222, 255);
$secondary-color-dark: #2980b9;
$btn-color: rgb(32, 192, 255);
$btn-color-dark:rgb(26, 158, 211);
$bg-color: #2c3e50;
$gate_box_height: 300px;
$gate_box_width: 360px;
$gate-box-color: rgb(255, 255, 255);
$gate-header-height: 60px;
$gate-body-height: 200px;

.invalid-feedback{
    color: red;
}

.show-gate-icon {
    margin-top: 50%;
    margin-bottom: 50%;
}

.navbar-default .navbar-brand {
    color: $secondary-color;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: $secondary-color-dark;
    background-color: transparent;
}

.push-right {
    float: right;
}

.center {
    text-align: center;
    padding: 0px auto;
}

.navbar-default {
    background-color: $bg-color;
}

.navbar-default .navbar-nav>li>a {
    color: $secondary-color;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: $secondary-color-light;
}

ul {
    padding: 0;
}

.gate-box-header a {
    color: $primary-color;
}

.gate-box-header a:hover {
    color: $primary-color-dark;
}

.search-form {
    padding-top: 0.8em;
    display: inline-block;
}

.sign-info {
    text-align: right;
}

.gate-box {
    box-sizing: border-box;
    max-width: 360px;
    margin: 10px;
    padding: 0px 0px 0px 0px;
    background-color: $gate-box-color;
    box-shadow: 1px 1px 1px 1px gray;
    transition: 0.3s;
}

.gate-box:hover {
    box-shadow: 2px 2px 2px 2px gray;
}

.gate-box-header {
    height: 60px;
    background-color: $bg-color;
}

.gate-box-icon {
    padding: 5px;
    width: 60;
    margin: 0px auto;
}

.gate-box-name {
    font-size: 1.2em;
    max-height: 60px;
    text-align: center;
    padding: 15px 5px 0px 5px;
    line-height: 1.1em;
}

.gate-box-body {
    height: 300px;
    padding: 5px
}

.gate-intro {
    padding-top: 10px;
}

.gate-box-tool {
    padding: 7.5px;
    text-align: left;
    border: 0px;
    border-top: 1px solid $bg-color;
    overflow: scroll;
}

.gate-tag {
    overflow: scroll;
}

.gate-like {
    float: right;
}

.show-name {
    margin: auto 0 auto 0;
}

.btn-tag {
    color: #fff;
    background-color: $btn-color;
    border-color: $btn-color;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 0.8em;
    border-radius: 4px;
}

.btn-tag:hover {
    color: #fff;
    background-color: $btn-color-dark;
    border-color: $btn-color-dark;
    text-decoration: none;
}

.btn-tag-like {
    color: #fff;
    background-color: $btn-color;
    border-color: $btn-color;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 0.8em;
    border-radius: 4px;
}

.btn-tag-like:hover {
    color: #fff;
    background-color: $btn-color-dark;
    border-color: $btn-color-dark;
    text-decoration: none;
}

.glyphicon-tags {
    color: $bg-color;
    font-size: 1em;
}

.btn-warning {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color-dark;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 0.8em;
    border-radius: 4px;
}

.btn-warning:hover {
    color: #fff;
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    text-decoration: none;
}

.navbar-right {
    margin-right: 0;
}

.gate-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}