// Place all the styles related to the Gates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #FF4003;
$primary-color-dark: rgb(209, 52, 0);
$secondary-color: #97c600;
$secondary-color-dark: #89b300;
$bg-color: #383331;
$gate_box_height: 300px;
$gate_box_width: 350px;
$gate-box-color: rgb(255, 255, 255);
$gate-header-height: 60px;
$gate-body-height: 200px;

.push-right {
    float: right;
}

ul{
    padding: 0;
}
a {
    color: $primary-color;
}

a:hover {
    color: $primary-color-dark;
}

.search-form {
    padding-top: 0.8em;
    display: inline-block;
}

.sign-info {
    text-align: right;
}

.gate-box {
    box-sizing: border-box;
    height: $gate_box_height;
    width: $gate_box_width;
    margin: 15px 30px 15px 0px;
    padding: 0px 0px 0px 0px;
    background-color: $gate-box-color;
    box-shadow: 1px 1px 1px 1px gray;
    transition: 0.3s;
}

.gate-box:hover {
    box-shadow: 2px 2px 2px 2px gray;
}

.gate-box-header {
    height: $gate-header-height;
    width: $gate_box_width;
    background-color: $bg-color;
}

.gate-box-icon {
    padding: 5px;
    width: 60;
}

.gate-box-name {
    font-size: 1.2em;
    padding: 10px;
    min-height: 60px;
    text-align: center;
    overflow: scroll;
}

.gate-box-body {
    height: $gate_body_height;
    width: $gate_box_width;
    padding: 5px
}

.gate-intro {
    padding-top: 10px;
}

.gate-box-tool {
    max-height: 40px;
    max-width: $gate_box_width;
    padding: 7.5px;
    text-align: left;
    border: 0px;
    border-top: 1px solid $bg-color;
    overflow: scroll;
}

.gate-tag {
    overflow: scroll;
}

.gate-like {
    float: right;
}

.btn-tag {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color-dark;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 0.8em;
    border-radius: 4px;
}

.btn-tag:hover {
    color: #fff;
    background-color: #1ca700;
    border-color: #1ca700;
    text-decoration: none;
}

.btn-tag-like {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color-dark;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 0.8em;
    border-radius: 4px;
}

.btn-tag-like:hover {
    color: #fff;
    background-color: #1ca700;
    border-color: #1ca700;
    text-decoration: none;
}

.glyphicon-tags {
    color: $bg-color;
    font-size: 1em;
}

.btn-warning {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color-dark;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 2px 8px;
    font-size: 0.8em;
    border-radius: 4px;
}

.btn-warning:hover {
    color: #fff;
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
    text-decoration: none;
}